.mat-tab-header-pagination {
  display: none !important;
}
.mat-ink-bar {
  background-color: #0aad0a !important;
}
.cdk-overlay-pane {
  pointer-events: none !important;
}
.modal-close {
  float: right;
  padding: 15px;
  z-index: 1000;
  position: relative;
}
